<section class="italian-aperitivo">
  <!-- Immagine di sfondo -->
  <img src="assets/images/aperitivo-bg.webp" alt="Background Aperitivo" class="background-img" />
  <!-- Velo nero -->
  <div class="background-overlay"></div>

  <div class="aperitivo-container">
    <div class="about-image-wrapper custom-gallery">
      <div class="image-single">
        <img src="assets/images/italian-aperitivo.png" alt="Foto 2" class="mini-image">
      </div>
    </div>

    <div class="aperitivo-text">
      <h2>Did somebody say Aperol Spritz?</h2>
      <p>
        Sip on a refreshing Aperol Spritz, a bold Campari Spritz, or your favorite drink, and unwind the Italian way.
        The perfect pre-dinner ritual, right here in your neighborhood.
        <br>
        <strong>Everyday - except Mondays - from 4pm to 6pm.</strong>
      </p>
    </div>
  </div>
</section>
