<div class="hero-banner">
  <div>
<!--    <video id="hero-video" autoplay muted loop playsinline >-->
<!--      <source src="assets/videos/5101342-uhd_3840_2160_25fps.mp4" type="video/mp4" />-->
<!--    </video>-->
    <img src="assets/images/hero2.webp" class="hero-desktop" alt="Hero desktop">

    <!-- Immagine visibile solo in mobile -->
    <img src="assets/images/hero.webp" class="hero-mobile" alt="Hero mobile">
    <div class="overlay">
      <img src="assets/svg/250213_Logo_White.svg" alt="Logo" class="hero-logo" />
<!--      <button href="#menu-section" class="hero-button">Discover</button>-->
      <div class="scroll-down">↓</div>
    </div>
  </div>
</div>
