<section class="about-us">
  <div class="about-container">

    <div class="about-text">
      <h2>About</h2>
      <p>
        We craft refined dishes inspired by the rich culinary heritage of Italy, using only the finest seasonal ingredients.

        From hand-rolled pasta to delicate seafood and slow-cooked meats, every plate tells a story — of passion, provenance, and precision.
        Our menu is a curated journey through Italy’s most beloved regions, reimagined for the modern palate.
      </p>
    </div>

    <div class="about-image-wrapper custom-gallery">
      <div class="image-column">
        <img src="assets/images/menu/9.jpeg" alt="Foto 1" class="mini-image">
        <img src="assets/images/menu/8.jpeg" alt="Foto 3" class="mini-image">
      </div>
      <div class="image-single">
        <img src="assets/images/menu/2.jpeg" alt="Foto 2" class="mini-image">
      </div>
    </div>


  </div>
</section>
