<footer class="footer">
  <div class="footer-left">
<!--    <div class="row">-->
<!--        <div class="col">-->
          <img src="assets/svg/250213_Logo_Black.svg" alt="Walter Bistrot Logo" class="footer-logo" />
<!--        </div>-->
<!--        <div class="col">-->
<!--          <img src="assets/images/food-hygiene-Rating%205_a_preview.jpeg" alt="Walter Bistrot Hygiene Rating" class="footer-logo" />-->
<!--        </div>-->
<!--      </div>-->

    <div class="contact-info">
      <p><strong>Walter's Bistro</strong></p>
      <p>189 Castelnau, London SW13 9ER, UK</p>
      <p>Tel: 02084120491</p>
      <p>Email: info&#64;waltersbistro.co.uk</p>
    </div>
  </div>
  <div class="footer-right">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.520256880263!2d-0.23362570000000002!3d51.485319700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760fb2dd1e24b3%3A0xd283cd8801fe7162!2s189%20Castelnau%2C%20London%20SW13%209ER%2C%20UK!5e0!3m2!1sen!2sit!4v1749033226128!5m2!1sen!2sit"
      width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</footer>


