<section class="menu-section" id="menu-section">
  <div class="menu-container">
<!--    <div class="menu-image">-->
<!--      <video id="hero-video" autoplay muted loop playsinline >-->
<!--        <source src="assets/videos/piatto.mp4" type="video/mp4" />-->
<!--      </video>-->
<!--    </div>-->
    <div class="about-image-wrapper custom-gallery">
      <div class="image-column">
        <img src="assets/images/menu/9.jpeg" alt="Foto 1" class="mini-image">
        <img src="assets/images/menu/8.jpeg" alt="Foto 3" class="mini-image">
      </div>
      <div class="image-single">
        <img src="assets/images/menu/2.jpeg" alt="Foto 2" class="mini-image">
      </div>
    </div>
    <div class="menu-content">
      <h2>Discover our menu</h2>
      <p>Lorem Ipsum</p>
      <a href="assets/menu/Walter%20Bistro%20Menu.pdf" target="_blank" rel="noopener" class="menu-button">View menu</a>
    </div>
  </div>
</section>
