<section class="menu-section" id="menu-section">
  <div class="menu-container">
<!--    <div class="menu-image">-->
<!--      <video id="hero-video" autoplay muted loop playsinline >-->
<!--        <source src="assets/videos/piatto.mp4" type="video/mp4" />-->
<!--      </video>-->
<!--    </div>-->
    <div class="about-image-wrapper custom-gallery">
      <div class="image-single">
        <img src="assets/images/menu/2.webp" alt="Strawberry tiramisu" class="mini-image">
      </div>

      <div class="image-column">
        <img src="assets/images/menu/4.webp" alt="Appetizers" class="mini-image">
        <img src="assets/images/menu/20.webp" alt="Elegant dessert and a glass of wine" class="mini-image">
      </div>
    </div>
    <div class="menu-content">
      <h2>Discover the menu</h2>
      <p>Italian terroir meets London finesse: pistachio-croissant mornings and cacio-e-pepe chips, scampi-risotto nights...
        Walter distils modern Italian elegance into every plate and pour.</p>
      <a href="assets/menu/Walter%20Bistro%20Menu.pdf" target="_blank" rel="noopener" class="menu-button">View menu</a>
    </div>
  </div>
</section>
